@use "../../styles/all" as *;

.text-component {
  // ################ ORDER OF PRIORITY (WHAT OVERRIDES WHAT) ################
  // FONT AS
  @include font-as;

  // FONT WEIGHT
  @include font-weights;

  // FONT SIZES
  @include font-sizes;

  // FONT FAMILY
  @include font-family;
  // #########################################################################

  &.clickable {
    cursor: pointer;
    transition: filter 0.1s ease;
    &:active {
      filter: brightness(80%);
    }
  }
}
