@use "../../styles/all" as *;

#register-page {
  @include page-base;

  justify-content: center;
  align-items: center;

  & > h1 {
    font-size: $size-4xl;
    color: $white;
  }

  .register-form {
    @include display-flex-column;
  }
}
