@use "../../styles/all" as *;

#register-page {
  justify-content: center;
  align-items: center;

  .register-form {
    @include display-flex-column;

    .inputs {
      @include display-flex-column;

      @include breakpoint-tablet {
        flex-direction: row;
      }

      .left {
        @include display-flex-column;
        flex-basis: 70%;
      }

      .right {
        @include display-flex-column;
        justify-content: center;
        flex-basis: 30%;
      }
    }
  }
}
