@use "../../styles/all" as *;

.card-component {
  @include display-flex-column;
  padding: $spacing-l;
  border-radius: $border-radius-large;
  min-width: 0px;

  @include light-mode {
    box-shadow: $shadow-light;
    background: $card-gradient-light;
  }
  @include dark-mode {
    box-shadow: $shadow-dark;
    background: $card-gradient-dark;
  }
}
