@use "../../styles/all" as *;

.magic-card-component {
  border-radius: 4.75% / 3.5%;
  overflow: hidden;
  aspect-ratio: 2.5 / 3.5;
  box-shadow: $shadow-dark;
  transition: transform 0.1s ease;
  cursor: pointer;
  max-width: 100%;

  &.disabled {
    pointer-events: none;
  }

  &:hover {
    transform: scale(1.025) translate(0, -0.5rem);
  }
}
