@use "../../styles/all" as *;

.dropdown-componenet {
  $border-radius: $border-radius-medium;

  @include secondary-scrollbar;
  position: relative;
  min-width: 0px;
  display: flex;
  flex-direction: column;

  @include font-sizes;

  &.Disabled {
    position: relative;
    pointer-events: none;
    opacity: 0.8;
  }

  & > .top {
    font-family: $main-font;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $white;
    cursor: pointer;
    border: 0;
    border-radius: $border-radius-medium;

    @include dark-mode {
      background-color: $gray-900;
      box-shadow: inset 0px 0px 5px 0px $gray-1100;
    }
    @include light-mode {
      background-color: $white;
      box-shadow: inset 0px 0px 5px 0px $gray-100;
    }

    & > .text-field {
      display: flex;
      align-items: center;
      pointer-events: none;
      color: $black;
      border: 0;
      box-shadow: none;
      font-family: $main-font;

      :focus {
        border: 0;
        outline: none;
      }

      & > input {
        padding: $spacing-s $spacing-m;
        border: 0;
        background-color: transparent;
        flex-grow: 1;
        min-width: 0px;
        width: 100%;
      }

      & > .arrow {
        position: absolute;
        right: 0;
        pointer-events: none;
        margin: 1rem;
        flex-shrink: 0;
        flex-grow: 0;
        background-color: transparent;
        transition: transform 0.2s ease;
        font-size: 1.5em;

        &.open {
          transform: rotate(-180deg);
        }

        &.close {
          transform: rotate(0deg);
        }

        @include light-mode {
          color: $gray-900;
        }
        @include dark-mode {
          color: $secondary-100;
        }
      }
    }

    &.searchable {
      cursor: default;
      .text-field {
        pointer-events: all;
      }
    }

    & > .active-entries {
      display: flex;
      border: 0;
      padding: $spacing-m;
      font-size: 0.8em;

      & > .entries-wrapper {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: $spacing-m;
        // border: 2px solid red;

        & > .active-entry {
          @include shadow-border(0.2rem, $secondary-100);
          cursor: default;
          display: flex;
          align-items: center;
          border-radius: $border-radius;
          gap: $spacing-m;
          padding: $spacing-s $spacing-m;
          pointer-events: none;

          word-break: break-word;

          .remove-tag-button {
            cursor: pointer;
            pointer-events: all;
            font-size: calc(1em * 1.5);
            color: $gray-900;
            border-radius: 50%;
            transition: color 0.1s ease;
            min-width: max-content;

            @include light-mode {
              color: $primary-800;

              &:hover {
                color: $secondary-500;
              }
            }
            @include dark-mode {
              color: $secondary-100;

              &:hover {
                color: $white;
              }
            }
          }
        }
      }

      .clear-tags {
        @include icon-button;
        align-self: flex-end;
        cursor: pointer;
        padding: $spacing-s;
        font-size: 20px;

        @include dark-mode {
          color: $secondary-100;
        }
        @include light-mode {
          &:hover {
            color: $secondary-500;
          }
        }
      }
    }
  }

  & > .menu {
    border: 0;
    display: flex;
    flex-direction: column;
    transition: max-height 0.2s ease, opacity 0.2s ease,
      background-color 0.2s ease, box-shadow 0.2s ease;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 110%;
    width: 100%;
    border-radius: $border-radius;
    z-index: 100;

    @include light-mode {
      background-color: $white;
      box-shadow: 0 0.5rem 0.5rem 0 $gray-300;
    }
    @include dark-mode {
      background-color: $gray-900;
      box-shadow: 0 0.5rem 0.5rem 0 $gray-1100;
    }

    &.opened {
      height: auto;
      opacity: 1;
      pointer-events: all;

      .entry {
        opacity: 1;
        pointer-events: all;
      }
    }

    &.closed {
      transition-delay: 0.2s;
      opacity: 0;
      pointer-events: none;
      .entry {
        opacity: 0;
        pointer-events: none;
      }
    }

    &.relative {
      top: 0;
      margin-top: 0.3rem;
      position: relative;
    }

    & > .entry:first-child {
      border-top-left-radius: $border-radius;
    }
    & > .entry:last-child {
      border-bottom-left-radius: $border-radius;
    }

    & > .category {
      font-family: $heading-font;
      font-weight: $weight-bold;
      padding: 1rem;

      @include dark-mode {
        border-bottom: 0.2rem solid $gray-700;
        color: $gray-500;
      }

      @include light-mode {
        border-bottom: 0.2rem solid $gray-100;
        color: $gray-700;
      }
    }

    & > .entry {
      cursor: pointer;
      padding: 0.1rem;
      transition: opacity 0.2s ease, background-color 0.2s ease, color 0.2s ease;
      transition-delay: 0s;
      display: flex;
      align-items: center;
      font-size: 0.8em;

      &:hover {
        background-color: $white;
        box-shadow: inset 0 0 0.3em 0 rgba(0, 0, 0, 0.25);

        @include light-mode {
          background-color: $white;
        }
        @include dark-mode {
          background-color: $gray-1100;
        }
        & > span {
          transform: translateX(0.5em);
        }
      }
      & > span {
        font-family: $main-font;
        box-shadow: none;
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: $spacing-m;
        background-color: transparent;
        width: 100%;
        max-width: 100%;
        word-wrap: break-word;
        transition: transform 0.1s ease;
      }

      &.disabled {
        pointer-events: none;
      }

      &.active {
        color: $secondary-100;
      }

      & > .entry-image {
        width: 5rem;
        height: 5rem;
        padding: $spacing-s;
        color: $secondary-500;
        filter: drop-shadow(0px 0px 5px $secondary-100);
        object-fit: contain;
        object-position: center;
      }
    }
  }

  & > .input-label {
    font-size: 1em;
    font-family: $heading-font;
  }
}
