@use "../../styles/all" as *;

.input-component {
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
  font-size: $size-m;
  position: relative;
  z-index: 2;

  &.invalid {
    color: $alert-100 !important;
  }

  &.disabled {
    filter: brightness(90%);
    cursor: not-allowed;
    * {
      pointer-events: none;
    }
    label {
      filter: brightness(60%);
    }
  }

  .input-textarea,
  .input-regular {
    @include basic-input;
    resize: none;

    // TO HIDE THE BUILD IT "EYE" ICON FOR EDGE
    &::-ms-reveal,
    &::-ms-clear {
      display: none;
    }
  }

  .input-textarea {
    min-height: 10rem;
  }

  .input-label {
    @include basic-label;
    margin-left: $spacing-s;
  }

  .validation-msg {
    font-family: $main-font;
    position: absolute;
    z-index: 1;
    left: $spacing-m;
    transition: top 0.2s ease, opacity 0.2s ease, color 0.2s ease;
    font-size: 0.8em;

    &.show {
      top: calc(99% + $spacing-s);
      opacity: 1;
    }

    &.hide {
      top: calc(100% - 1.5rem);
      opacity: 0;
    }
  }
}
