@use "../../styles/all" as *;

#admin-page {
  @include page-base;

  @include breakpoint-laptop {
    align-items: center;
  }

  .middle {
    .cards {
      @include display-flex-column;
      flex-wrap: wrap;

      @include breakpoint-laptop {
        flex-direction: row;
      }

      .catalogs,
      .symbols {
        @include display-flex-column;

        @include breakpoint-tablet {
          max-width: 42rem;
        }

        .inner {
          flex-grow: 1;
          display: flex;
          flex-wrap: wrap;
          gap: $spacing-m;
        }
      }
    }
  }
}
