@use "../variables/borders" as *;

// COMBINE THE USECASE FOR THIS WITH "models/frontend/types/BorderRadius.ts"
@mixin border-radius {
  &.small {
    border-radius: $border-radius-small;
  }
  &.medium {
    border-radius: $border-radius-medium;
  }
  &.large {
    border-radius: $border-radius-large;
  }
  &.none {
    border-radius: 0;
  }
  &.round {
    border-radius: 50%;
  }
}

// USE WHENEVER YOU NEED A FAKE BORDER WITHOUT USING THE "border" CSS PROPERTY
@mixin shadow-border(
  $border-width,
  $color,
  $padding-v: inherit,
  $padding-h: inherit
) {
  box-shadow: inset 0 0 0 $border-width $color;
  padding: calc($padding-v - $border-width) calc($padding-h - $border-width);
}
