@use "../variables/colors" as *;
@use "../variables/fonts" as *;
@use "../variables/spacings" as *;
@use "../variables/borders" as *;
@use "./scheme" as *;
@use "./breakpoint" as *;

@mixin shadow-border(
  $border-width,
  $color,
  $padding-v: inherit,
  $padding-h: inherit
) {
  box-shadow: 0 0 0 $border-width $color;
  margin: $border-width;
  padding: calc($padding-v - $border-width) calc($padding-h - $border-width);
}

@mixin button-base {
  // font-family: $main-font;
  // font-size: $size-2xl;
  // font-weight: $weight-bold;
  padding: $spacing-s $spacing-m;
  border-radius: $border-radius-medium;
  border: 0;
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;

  &:focus {
    border: 0;
    outline: 0;
  }
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

@mixin primary-button {
  @include button-base;

  @include dark-mode {
    color: $white;
    background-color: $primary-500;
    &:hover {
      background-color: $primary-100;
    }
  }
  @include light-mode {
    color: $white;
    background-color: $primary-100;

    &:hover {
      filter: brightness(110%);
    }
  }
}

@mixin secondary-button {
  @include button-base;

  @include dark-mode {
    color: $white;
    background-color: $secondary-800;
    &:hover {
      background-color: $secondary-500;
    }
  }
  @include light-mode {
    color: $white;
    background-color: $secondary-100;
    &:hover {
      background-color: $secondary-500;
    }
  }
}

@mixin success-button {
  @include button-base;

  @include dark-mode {
    color: $white;
    background-color: $success-500;
    &:hover {
      background-color: $success-100;
    }
  }
  @include light-mode {
    color: $white;
    background-color: $success-100;

    &:hover {
      filter: brightness(110%);
    }
  }
}

@mixin alert-button {
  @include button-base;

  @include dark-mode {
    color: $white;
    background-color: $alert-800;
    &:hover {
      background-color: $alert-500;
    }
  }
  @include light-mode {
    color: $white;
    background-color: $alert-100;

    &:hover {
      background-color: $alert-500;
    }
  }
}

@mixin link-button {
  background-color: transparent;
  border: 0;
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease;

  & > a {
    font-family: $main-font;
    font-size: $size-l;
    text-decoration: none;
    transition: all 0.2s ease;
    border: 0;
    outline: 0;

    &:focus {
      border: 0;
      outline: 0;
      text-decoration: underline;
    }
  }

  &:hover > a {
    color: $white;
  }
  &:active {
    transform: scale(0.95);
  }
  @include dark-mode {
    color: $link-blue-dark;
    text-decoration-color: $link-blue-dark;
  }
  @include light-mode {
    color: $link-blue-light;
    text-decoration-color: $link-blue-light;
  }
}

@mixin icon-button {
  font-family: $main-font;
  font-size: $size-2xl;
  background-color: transparent;
  border: 0;
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;

  &:focus {
    border: 0;
    outline: 0;
  }
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.95);
  }

  @include light-mode {
    color: $primary-800;

    &:hover {
      color: $primary-100;
    }
  }
  @include dark-mode {
    color: $primary-100;

    &:hover {
      color: $primary-800;
    }
  }
}
