@use "../variables/colors" as *;
@use "../variables/fonts" as *;
@use "../variables/spacings" as *;
@use "../variables/borders" as *;
@use "./theme" as *;
@use "./breakpoint" as *;
@use "./borders" as *;

// COMBINE THE USECASE FOR THIS WITH "models/frontend/types/ButtonVariant.ts"
@mixin button-variants {
  &.primary {
    @include primary-button;
  }
  &.secondary {
    @include secondary-button;
  }
  &.success {
    @include success-button;
  }
  &.alert {
    @include alert-button;
  }
  &.link {
    @include link-button;
  }
  &.icon {
    @include icon-button;
  }
}

@mixin button-base {
  // font-family: $main-font;
  // font-size: $size-2xl;
  // font-weight: $weight-bold;
  padding: $spacing-s $spacing-m;
  border-radius: $border-radius-medium;
  border: 0;
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;

  &:focus {
    border: 0;
    outline: 0;
  }
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

@mixin primary-button {
  @include button-base;

  @include dark-mode {
    color: $white;
    background-color: $primary-500;
    &:hover {
      background-color: $primary-100;
    }
  }
  @include light-mode {
    color: $white;
    background-color: $primary-100;

    &:hover {
      filter: brightness(110%);
    }
  }
}

@mixin secondary-button {
  @include button-base;

  @include dark-mode {
    color: $white;
    // background-color: $secondary-800;
    background-color: transparent;
    @include shadow-border(0.2rem, $secondary-800);
    &:hover {
      background-color: $secondary-800;
    }
  }
  @include light-mode {
    color: $white;
    background-color: $secondary-100;
    &:hover {
      background-color: $secondary-500;
    }
  }
}

@mixin success-button {
  @include button-base;

  @include dark-mode {
    color: $white;
    background-color: $success-500;
    &:hover {
      background-color: $success-100;
    }
  }
  @include light-mode {
    color: $white;
    background-color: $success-100;

    &:hover {
      filter: brightness(110%);
    }
  }
}

@mixin alert-button {
  @include button-base;

  @include dark-mode {
    color: $white;
    background-color: $alert-800;
    &:hover {
      background-color: $alert-500;
    }
  }
  @include light-mode {
    color: $white;
    background-color: $alert-100;

    &:hover {
      background-color: $alert-500;
    }
  }
}

@mixin link-button {
  background-color: transparent;
  border: 0;
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease;

  & > a {
    font-family: $main-font;
    font-size: $size-l;
    text-decoration: none;
    transition: all 0.2s ease;
    border: 0;
    outline: 0;
  }

  &:hover {
    color: $white;
    a {
      color: $white;
    }
  }

  &:active {
    transform: scale(0.95);
  }
  @include dark-mode {
    color: $link-blue-dark;
    a {
      color: $link-blue-dark;
    }
  }
  @include light-mode {
    color: $link-blue-light;
    a {
      color: $link-blue-light;
    }
  }
}

@mixin icon-button {
  font-family: $main-font;
  font-size: $size-2xl;
  background-color: transparent;
  border: 0;
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;

  &:focus {
    border: 0;
    outline: 0;
  }
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.95);
  }

  @include light-mode {
    color: $primary-800;

    &:hover {
      color: $primary-100;
    }
  }
  @include dark-mode {
    color: $primary-100;

    &:hover {
      color: $white;
    }
  }
}
