@use "../variables/spacings" as *;

@mixin display-flex-row {
  display: flex;
  flex-direction: row;
  gap: $spacing-xl;
}
@mixin display-flex-row-center {
  display: flex;
  flex-direction: row;
  gap: $spacing-xl;
  align-items: center;
  justify-content: center;
}
@mixin display-flex-column {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
}
@mixin display-flex-column-center {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  align-items: center;
  justify-content: center;
}
