@use "../variables/colors" as *;
@use "../variables/fonts" as *;
@use "../variables/spacings" as *;
@use "../variables/borders" as *;
@use "./scheme" as *;
@use "./breakpoint" as *;

@mixin basic-input {
  font-family: $main-font;
  font-size: $size-xl;
  padding: $spacing-s $spacing-m;
  border-radius: $border-radus-medium;
  border: 0;
  transition: color 0.2s ease;

  &:focus {
    border: 0;
    outline: 0;
  }

  @include breakpoint-laptop {
    font-size: $size-l;
  }

  @include dark-mode {
    background-color: $gray-900;
    box-shadow: inset 0px 0px 5px 0px $gray-1100;
  }
}
