@use "../../styles/all" as *;

.loader-component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  @include dark-mode {
    background: $main-gradient-dark;
  }
  @include light-mode {
    background: $main-gradient-light;
  }

  margin-top: $size-6xl;
  height: calc(100vh - $size-6xl);

  @include breakpoint-laptop {
    margin-top: $size-4xl;
    height: calc(100vh - $size-4xl);
  }

  @include breakpoint-laptop {
    justify-content: flex-end;
    align-items: flex-end;

    .spinner-component {
      margin: 0 $spacing-2xl $spacing-2xl 0;
    }
  }
}
