// PRIMARY COLOR
$primary-100: #b97ff4;
$primary-500: #6d31a8;
$primary-800: #1b1324;

// SECONDARY COLOR
$secondary-100: #ffa64d;
$secondary-500: #fa7000;
$secondary-800: #af4e00;

// SUCCSESS COLOR
$success-100: #5bf58d;
$success-500: #2b7543;

// ALERT COLOR
$alert-100: #ff6d6d;
$alert-500: #ff0000;
$alert-800: #852626;

// GRAYS
$gray-100: #d6d6ff;
$gray-300: #c1c1e6;
$gray-500: #a1a1bf;
$gray-700: #6b6b80;
$gray-900: #363640;
$gray-1100: #1f1f24;

// OTHER
$black: #000;
$white: #fff;
$link-blue-dark: #7f64f5;
$link-blue-light: #bfb1ff;

// ############### GRADIENTS ###############
// MAIN
$main-gradient-dark: linear-gradient(45deg, $primary-800, $primary-500);
$main-gradient-light: linear-gradient(45deg, $primary-500, $primary-100);
// NAVBAR
$navbar-gradient-dark: linear-gradient(-45deg, $primary-800, $primary-500);
$navbar-gradient-light: linear-gradient(-45deg, $primary-500, $primary-100);
// CARD
$card-gradient-dark: linear-gradient(45deg, $gray-1100, $gray-900);
$card-gradient-light: linear-gradient(45deg, $gray-100, $white);
// LOADER
$loader-gradient-dark: linear-gradient(45deg, $black, $primary-800);
$loader-gradient-light: linear-gradient(45deg, $primary-800, $primary-500);

// ############### SHADOWS ###############
$shadow-light: 0 1rem 2rem 0 $gray-900;
$shadow-dark: 0 1rem 2rem 0 $gray-1100;
