// SPACINGS     1rem = 62.5% which is roughly 10px.
$spacing-xs: 0.2rem;
$spacing-sm: 0.4rem;
$spacing-m: 0.8rem;
$spacing-l: 1.6rem;
$spacing-xl: 3.2rem;
$spacing-xxl: 6.4rem;
$spacing-xxxl: 12.8rem;
