@use "../../styles/all" as *;

#landing-page {
  @include breakpoint-tablet {
    justify-content: center;
  }

  .landing-form {
    @include display-flex-column;
    gap: $spacing-m;

    @include breakpoint-tablet {
      flex-direction: row;
      align-items: center;
    }

    .search-input {
      flex-grow: 1;
    }
  }
}
