@use "../../styles/all" as *;

#landing-page {
  @include page-base;

  justify-content: flex-start;
  align-items: center;

  & > h1 {
    margin-top: $spacing-4xl;
    font-size: $size-4xl;
    text-align: center;

    @include breakpoint-laptop {
      margin-top: 0px;
    }
  }

  @include breakpoint-laptop {
    justify-content: center;
  }

  .landing-form {
    @include display-flex-row;
    gap: $spacing-m;

    @include breakpoint-tablet {
      flex-direction: row;
      align-items: center;
    }
  }
}
