@use "../../styles/all" as *;
.main-component {
  @include page-base;

  &.show {
    animation: show 500ms forwards;
  }

  &.hide {
    animation: hide 250ms forwards;
  }

  @keyframes show {
    from {
      transform: scale(1.2);

      opacity: 0;
    }
    to {
      transform: scale(1);

      opacity: 1;
    }
  }

  @keyframes hide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  & > .middle {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: $spacing-l;
  }
}
