@use "../../styles/all" as *;

#search-page {
  .advanced-search-form {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
    .top-card {
      gap: $spacing-l;
      @include breakpoint-laptop {
        gap: $spacing-2xl;
      }

      .search-field {
        @include display-flex-column;
        gap: $spacing-m;

        @include breakpoint-laptop {
          align-items: flex-start;
          flex-direction: row;
          gap: $spacing-xl;
        }

        .label {
          display: flex;
          align-items: center;
          gap: $spacing-m;

          .icon {
            font-size: $size-xl;
          }
          @include breakpoint-laptop {
            flex-basis: 15%;
            flex-shrink: 0;
          }
        }

        & > .input-component {
          @include breakpoint-laptop {
            flex-grow: 1;
          }
        }

        .dropdown-componenet {
          @include breakpoint-laptop {
            flex-grow: 1;
          }
        }

        .choice-component {
          @include breakpoint-tablet {
            flex-direction: row;
            gap: $spacing-l;
          }
          @include breakpoint-laptop {
            flex-grow: 1;
          }
        }

        &.rarity {
          // RARITY COLORS

          .choice label {
            font-weight: $weight-bold;
          }

          .choice:nth-child(2) label {
            color: #d1d1d1;
            @include light-mode {
              text-shadow: 0px 0px 1px black;
            }
          }
          .choice:nth-child(3) label {
            color: #f0e264;
            @include light-mode {
              text-shadow: 0px 0px 1px black;
            }
          }
          .choice:nth-child(4) label {
            color: #ff7a0e;
          }
        }

        &.type,
        &.mana-cost,
        &.colors,
        &.oracle {
          .inner {
            @include display-flex-column;
            gap: $spacing-m;
            @include breakpoint-laptop {
              max-width: 22rem;
            }

            &.padded {
              padding: 0 $spacing-m;
            }
          }
        }

        &.mana-cost .wrapper {
          // border: 2px solid red;
          @include display-flex-column;
          justify-content: space-between;
          gap: $spacing-m;
          flex-grow: 1;

          @include breakpoint-laptop {
            flex-direction: row;
          }

          & > *:nth-child(1) {
            flex-basis: 50%;
          }
          & > *:nth-child(2) {
            flex-basis: 25%;
            flex-grow: 0;
          }
          & > *:nth-child(3) {
            flex-basis: 25%;
            flex-grow: 0;
          }
        }

        &.formats .wrapper {
          flex-grow: 1;
          display: grid;
          grid-template-columns: 20rem 1fr;
          gap: $spacing-m;
        }

        &.sets .wrapper {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          gap: $spacing-m;
        }
      }
    }

    .bottom-card {
      align-items: center;

      @include breakpoint-tablet {
        flex-direction: row;
        justify-content: space-between;
      }

      .search-button {
        width: min(100%, 30rem);
      }
    }
  }
}
