@use "../../styles/all" as *;

#card-page {
  @include page-base;

  .middle {
    width: 100%;

    .wrapper {
      @include display-flex-column;
      flex-grow: 1;
      align-items: center;

      @include breakpoint-laptop {
        flex-direction: row;
        align-items: flex-start;
      }

      .left {
        @include display-flex-column;
        gap: $spacing-m;
        align-items: center;
        text-align: center;

        @include breakpoint-laptop {
          max-width: 30%;
        }
      }

      .right {
        flex-grow: 1;
        // background-color: blue;
        height: 100%;
        @include display-flex-column;

        .prices {
          display: grid;
          column-gap: $spacing-xl;
          row-gap: $spacing-s;
          grid-template-columns: repeat(2, 1fr);

          .inner {
            justify-content: space-between;
          }
        }

        .inner {
          @include display-flex-row;
          justify-content: space-between;

          .uncommon {
            color: #d1d1d1;
          }
          .rare {
            color: #f0e264;
          }
          .mythic {
            color: #ff7a0e;
          }
        }
      }
    }
  }
}
