@use "../../styles/all" as *;

.main-navbar {
  @include display-flex-row;
  padding: $spacing-m;
  z-index: 10;

  @include dark-mode {
    background: $navbar-gradient-dark;
    box-shadow: -0.5rem -1rem 5rem 2rem $gray-1100;
  }
  @include light-mode {
    background: $navbar-gradient-light;
    box-shadow: -0.5rem -1rem 5rem 2rem $primary-500;
  }

  .left {
    .home-button {
      width: 5rem;
      height: 5rem;
    }
  }

  .middle {
    flex-grow: 1;
    display: flex;
    align-items: center;

    form {
      flex-grow: 1;
    }
  }

  .right {
    display: flex;
    align-items: center;
  }
}
