@use "../../styles/all" as *;

.modal-component {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 10000;

  & > .background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    transition: opacity 0.4s ease;

    &.show {
      opacity: 0.75;
      pointer-events: all;
    }
    &.hide {
      opacity: 0;
      pointer-events: none;
      transition-delay: 0.2s;
    }

    @include dark-mode {
      background: $main-gradient-dark;
    }
    @include light-mode {
      background: $main-gradient-light;
    }
  }

  & > .modal {
    position: absolute;
    top: 40%;
    left: 50%;
    background: $white;
    border-radius: $border-radius-large;
    min-height: max-content;
    padding: $spacing-l;
    display: flex;
    flex-direction: column;
    gap: $spacing-l;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.4s ease;

    width: 90%;
    @include breakpoint-tablet {
      width: 60%;
    }
    @include breakpoint-desktop {
      width: 500px;
    }

    @include dark-mode {
      background: $main-gradient-dark;
    }

    & > .top {
      display: flex;
      gap: $spacing-l;

      & > :first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        word-break: break-word;
        flex-grow: 1;
        border-radius: $border-radius-small;
        padding: $spacing-l;
        font-size: $size-m;

        @include dark-mode {
          background: $gray-500;
          box-shadow: inset 0 0 1rem 0 rgba(0, 0, 0, 0.5);
        }
        @include light-mode {
          background: $gray-100;
          box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
        }
      }

      .close {
        @include icon-button;
        box-shadow: none;
        flex-grow: 0;
        flex-shrink: 0;
        color: $primary-800;
        align-self: flex-start;
        // padding: 0 0 0 $spacing-l;

        @include breakpoint-laptop {
          font-size: $size-xl;
        }
      }
    }

    & > .buttons {
      display: flex;
      gap: $spacing-l;

      & > .confirm,
      & > .cancel {
        @include button_base;
        font-size: $size-xl;
        min-width: 0px;
      }
      & > .confirm {
        @include primary-button;
        // flex-basis: 50%;
        flex-grow: 1;

        &.alone {
          flex-basis: 100%;
        }
      }
      & > .cancel {
        background-color: $alert-100;
        color: white;
        // flex-basis: 50%;
        flex-grow: 1;
      }
    }

    &.show {
      pointer-events: all;
      transform: translate(-50%, -50%);
      transition-delay: 0.2s;
      // translate: -50% -50%;
    }
    &.hide {
      // pointer-events: none;
      transform: translate(-50%, -100vh);
      // translate: -50% -100vh;
    }
  }
}
