@use "../../styles/all" as *;

.button-component {
  &.primary {
    @include primary-button;
  }
  &.secondary {
    @include secondary-button;
  }
  &.success {
    @include success-button;
  }
  &.alert {
    @include alert-button;
  }
  &.link {
    @include link-button;
  }
  &.icon {
    @include icon-button;
  }

  &.small {
    border-radius: $border-radius-small;
  }
  &.medium {
    border-radius: $border-radius-medium;
  }
  &.large {
    border-radius: $border-radius-large;
  }
  &.none {
    border-radius: 0;
  }

  // FONT SIZES
  @include font-sizes;

  // FONT WEIGHTS
  @include font-weights;
}
