@use "../../styles/all" as *;

.button-component {
  display: flex;
  flex-direction: row;
  gap: $spacing-m;

  // BUTTON VARIANTS
  @include button-variants;

  // BORDER RADIUS
  @include border-radius;

  // FONT SIZES
  @include font-sizes;

  // FONT WEIGHTS
  @include font-weights;
}
