@use "/src/styles_NEW_STRUCTURE/globalAll" as *;

.dropdown-search {
  @include default-dropdown;
  .top {
    position: relative;
    background-color: $white;
    transition: box-shadow 0.1s ease;
    box-shadow: none;
    @include basic-input;
    &.focus-border {
      $border-width: 2px; // WE BREAK OUT THE BORDER WIDTH INTO A VARIABLE FOR EASY FUTURE MODIFICATIONS.
      box-shadow: 0px 0px 0px $border-width $primary-navy; // WE USE THIS A BORDER TO PREVENT SIZING CHANGES DUE TO BORDER ANIMATION.
    }
    .magnify {
      margin-right: 1.6rem;
      font-size: $btn-txt-size;
    }
    .spinner {
      margin-right: 1.6rem;
    }
    input {
      pointer-events: all;
      border: 0;
      flex-grow: 1;
      &:focus {
        border: 0;
        outline: 0;
      }
    }
  }
}
